/* import font family is == Merriweather ==*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* import font family is == playfair ==*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* import font family is == Roboto ==*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


/* HTML5 display-role reset for older browsers */
/* =====  01. Reset  ====== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  background: #09203f;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select::-ms-expand {
  display: none;
}

label {
  font-weight: normal;
}

iframe {
  width: 100%;
}

/* =====  End of 01. Reset  ====== */
/* ===== 02. Global Style ===== */
h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 72px;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 51px;
  font-family: "Playfair Display", serif;

}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Playfair Display", serif;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;

}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px 35px;
  font-family: "Merriweather", serif;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: "Merriweather", serif;
  text-decoration: none;
}

/* input area sugguseation color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: #ffffff !important;
}

span {
  font-family: 'Roboto', sans-serif;
}

.hover1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid #00FFFF;
  background-color: #00FFFF;
  color: #212121;
  z-index: 1;
  padding: 10px 35px;
  transition: all 0.9s ease;
  text-align: center;
}

.hover1:hover {
  color: #212322 !important;
}

.hover1::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #ffffff;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover1:hover::before {
  width: 0%;
  background-color: #ffffff;
  right: 0;
}

.hover1::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #ffffff;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover1:hover::after {
  width: 100%;
  background-color: #ffffff;
  left: 0;
}

.hover2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #09203f;
  background-color: #09203f;
  color: #ffffff;
  z-index: 1;
  padding: 12px 35px;
  transition: all 0.9s ease;
  text-align: center;
}

.hover2:hover {
  color: #212322 !important;
}

.hover2::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #ffffff;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover2:hover::before {
  width: 0%;
  background-color: #ffffff;
  right: 0;
}

.hover2::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #ffffff;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover2:hover::after {
  width: 100%;
  background-color: #ffffff;
  left: 0;
}

.tage {
  padding-bottom: 100px;
  padding-top: 100px;
}

.tage hr {
  width: 100%;
  height: 2px;
  margin: 0px;
  background: #ffffff;
  color: #ffffff;
  opacity: 0.6;
}

.tage img {
  width: 100px;
}

/* form submisstion modal */
.modal {
  display: none;
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 35%;
  background: rgba(63, 15, 77, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: #ffffff;
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  margin: auto;
}

.modal-content h5 {
  line-height: 20px;
}

.modal-content .check-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #00FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content .check-icon svg {
  width: 50px;
  height: 50px;
  stroke: #FFFFFF;
  animation: checkAnimation 2s ease-in-out;
}

.modal-content .close-modal {
  width: 50% !important;
  margin: 20px auto 0px;
  padding: 10px 20px;
  background-color: #00FFFF;
  border: 0.6px solid #00FFFF !important;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .close-modal:hover {
  background-color: #00FFFF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes checkAnimation {
  0% {
    stroke-dasharray: 0, 50;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 50, 0;
    stroke-dashoffset: 0;
  }
}

/* Back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #00FFFF;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease, visibility 2s ease;
  z-index: 500;
  transition: all 0.3s ease-in;
}

.back-to-top i {
  font-size: 22px;
  color: #212121;
  transition: all 0.3s ease-in;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-3px);
  }
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover i {
  color: #ffffff;

}

.back-to-top:hover {
  background-color: #3F0F4D;
}

/* ===== End of 02. Global Style ===== */
/* ========= 1.1. header section ========= */
header {
  background: #3F0F4D;
}

header .navbar {
  padding: 15px 0px;
}

header .nav-logo img {
  width: 150px;
}

header .navbar-collapse {
  justify-content: center;
}

header .right-sidbar {
  width: 280px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -355px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px 20px 20px 0px;
  z-index: 99;
  background-color: #3F0F4D;
}

header #slid-drop {
  display: none;
}

header #slid-drop li {
  padding: 12px 0px;
}

header .page-btn {
  padding: 10px 0px;
  color: #058FEA;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

header .navbar ul li a {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  padding: 12px;
}

header .navbar ul li a:focus {
  color: #ffffff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #00FFFF !important;
}

header .open-aside {
  padding: 9px 13px;
  background-color: #00FFFF;
  border: 1px solid #00FFFF;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

header .open-aside:hover {
  background: transparent;
  border: 1px solid #00FFFF;
}

header .open-aside {
  display: none;
  z-index: 2;
}

header aside .fa-xmark {
  padding: 8px 13px;
  background-color: #00FFFF;
  border: 1px solid #00FFFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  transition: all 0.3s ease-in;
}

header aside .fa-xmark:hover {
  background: transparent;
  border: 1px solid #00FFFF;
}

header aside .fa-caret-down {
  color: #00FFFF;
  font-size: 22px;
}

header a .fa-sort-down {
  position: relative;
  top: -1px;
}

header aside a {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

header aside a.active,
header aside a:hover {
  color: #00FFFF !important;
}

header aside li {
  padding: 12px;
}


/* ========= End of 1.1. header section ========= */
/* ========= 1.2. Hero section ========= */
.Hero {
  padding: 70px 0px;
}

.Hero h2,
.Hero h1 {
  color: #ffffff;
}

.Hero figure {
  width: 100%;
  position: relative;
  animation: jump 2s ease-in-out infinite;
}

.Hero figure img {
  width: 100%;
}

.Hero .w-100 a {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Hero .animated-text {
  font-family: 'Courier', monospace;
  display: inline-block;
}

.Hero .wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
  font-size: 30px;
}

.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
  font-size: 30px;
}


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

/* End waving */

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* ========= End of 1.2. Hero section ========= */
/* ========= 1.3. Intro section ========= */
.Intro h2 {
  color: #ffffff;
}

.Intro p {
  color: #ffffff;
  padding-right: 100px;
  text-align: justify;
}

.Intro figure {
  width: 100%;
  animation: jump 2s ease-in-out infinite;
}

.Intro figure img {
  width: 100%;
}

/* ========= End of 1.3. Intro section ========= */
/*========= 1.4. Skills section =========*/

.Skills h2 {
  color: #ffffff;
}

.Skills figure {
  animation: jump 2s ease-in-out infinite;
  width: 100%;
}

.Skills figure img {
  width: 100%;
}

.Skills .text-center {
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}

.Skills .gap-2 p {
  color: #ffffff;
}

.Skills .gap-2 span {
  font-family: "Playfair Display", serif;
  color: #ffffff;
}

.Skills .pb-0 {
  gap: 20px;
}

.Skills .EmptyProgress {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.Skills .FilledProgress {
  height: 100%;
  background-color: #00FFFF;
  width: 0%;
  border-radius: 10px;
}

.Skills .SkillProgress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
}

.Skills .position-relative p {
  font-family: "Playfair Display", serif;
}

/*========= End of 1.4. Skills section =========*/
/*========= 1.5. Slider section =========*/
.Slider p {
  color: #ffffff;
}

.Slider h2 {
  color: #ffffff;
}

.Slider .ImagesSlider {
  width: 100%;
  margin: 0 auto;
}

.Slider .ImagesSlider figure {
  margin: 0 10px;
  text-align: center;
  overflow: hidden;
}

.Slider .ImagesSlider img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}

/*========= End of 1.5. Slider section =========*/
/*========= 1.6. Exp section =========*/
.Exp {
  background: #3F0F4D;
  padding: 100px 0px;
}

.Exp figure {
  width: 100%;
  animation: jump 2s ease-in-out infinite;

}

.Exp figure img {
  width: 100%;
}

.Exp h2 {
  color: #ffffff;
  padding-bottom: 20px;
}

.Exp h3 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
}

.Exp span {
  color: #00FFFF;
  font-family: "Playfair Display", serif;
}

/*========= End of 1.6. Exp section =========*/
/*========= 1.7. Projects section =========*/
.Projects h2 {
  color: #ffffff;
}

.Projects p {
  color: #ffffff;
}

.Projects figure {
  width: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.Projects figure img {
  width: 100%;
  transition: all 0.5s ease-in;
}

.Projects .row {
  row-gap: 50px;
}

.Projects .text-center {
  width: 70%;
  margin: auto;
  padding-bottom: 70px;
}

.Projects .proj {
  border: 1px solid #00FFFF;
  border-radius: 20px;
  padding: 20px;
}

.Projects .proj:hover img {
  transform: scale(1.1);
}

.Projects h4 {
  color: #ffffff;
  padding-right: 50px;
  flex-grow: 1;
}

.Projects span {
  color: #00FFFF;
}

.Projects i {
  color: #ffffff;
  font-size: 18px;
}

.Projects a {
  color: #ffffff;
}

.Projects a:hover {
  color: #00FFFF;
}

/*========= End of 1.7. Projects section =========*/
/*========= 1.8. Education section =========*/
.Education h3 {
  color: #00FFFF;
  font-family: "Playfair Display", serif;
}

.Education .text-center {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.Education h2,
.Education h5 {
  color: #ffffff;
}

.Education p {
  color: #ffffff;
}

.Education .subjects .d-flex {
  width: 100%;
  gap: 10px;
}

.Education figure {
  width: 100%;
  animation: jump 2s ease-in-out infinite;
}

.Education figure img {
  width: 100%;
}

.Education .sub {
  width: 50%;
  border: 1px solid #00FFFF;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.Education .sub::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #00FFFF, #3F0F4D);
  border-image-slice: 1;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Education .sub:hover::before {
  opacity: 1;
  animation: borderTrain 3s linear infinite;
}



@keyframes borderTrain {
  0% {
    border-image-source: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  }

  100% {
    border-image-source: linear-gradient(450deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  }
}

/*========= End of 1.8. Education section =========*/
/*========= 1.9. Contact section =========*/
.Contact figure {
  width: 100%;
  animation: jump 2s ease-in-out infinite;

}

.Contact figure img {
  width: 100%;
}

.Contact h2 {
  color: #ffffff;
}

.Contact p {
  color: #ffffff;
  padding-right: 105px;
}

.Contact .gap-3 {
  border-radius: 10px;
  width: 100%;
}

.Contact textarea,
.Contact input {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 20px;
  background: transparent;
  resize: none;
}

.Contact textarea:focus,
.Contact input:focus {
  border-color: #00FFFF;
  color: #ffffff;
  background: transparent;
}

.Contact textarea::placeholder,
.Contact input::placeholder {
  color: #ffffff;
}

.Contact label {
  color: #ffffff !important;
  font-weight: bold;
}

/*========= End of 1.0. Contact section =========*/
/*========= 1.10. Footer section =========*/
footer {
  padding: 50px 0px 0px;
  background-color: #3F0F4D;
}

footer figure img {
  width: 180px;
}

footer p {
  color: #ffffff;
}

footer .social a {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: all 0.5s ease-in;
}

footer .social a:hover {
  color: #00FFFF;
}

footer .text-center {
  padding: 100px 0px 30px;
}

footer .pt-0 p {
  padding-right: 200px;
}

/*========= End of 1.10. Footer section =========*/