/* ===== 02. Global Style ===== */

@media screen and (max-width: 1199px) {
    .modal-content {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 959px;
    }

    h1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 55px;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
        line-height: 40px;
    }

    h3 {
        font-size: 26px;
        font-weight: 600;
        line-height: 32px;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }

    h5 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    h6 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    button {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        padding: 10px 35px;
    }

    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    .tage {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .tage img {
        width: 80px;
    }

    .back-to-top {
        width: 45px;
        height: 40px;
        padding: 0px;
    }

    .back-to-top i {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .modal-content {
        width: 80%;
    }

    .modal .gap-md-3 {
        gap: 15px;
    }

    .tage img {
        width: 60px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 34px;
        font-weight: 600;
        line-height: 40px;
    }

    h2 {
        font-size: 26px;
        line-height: 32px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    h5 {
        font-size: 18px;
        line-height: 24px;
    }

    h6 {
        font-size: 16px;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    button {
        font-size: 16px;
        line-height: 22px;
        padding: 10px 35px;
    }

    a {
        font-size: 16px;
        line-height: 22px;
    }

    .tage {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .tage img {
        width: 50px;
    }

    .modal-content {
        width: 95%;
    }

    .modal-content h5 {
        line-height: 10px;
    }

    .modal-content .check-icon {
        width: 70px;
        height: 70px;
    }

    .modal-content .close-modal {
        width: 100% !important;
    }

}

/* ===== End of 02. Global Style ===== */
/* ========= 1.1. header section ========= */
@media screen and (max-width: 1199px) {
    header .btns a {
        display: none;
    }

    header .navbar-expand-lg .navbar-nav {
        justify-content: end !important;
    }
}

@media screen and (min-width: 991px) {
    header .navbar-expand-lg .navbar-collapse {
        justify-content: end;
        margin-right: 50px;
    }
}

@media screen and (max-width: 991px) {
    header .open-aside {
        display: block;
    }

    header .nav-logo img {
        width: 130px;
    }

    header .nav-logo {
        flex-grow: 1;
    }

    header .btns button {
        display: none;
    }

    header .join-btn {
        display: none;
    }

    header .side-nav-logo {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    header .nav-logo img {
        width: 120px;
    }

    header aside .fa-xmark {
        font-size: 20px;
    }

    header .open-aside {
        padding: 8px 14px;
        font-size: 22px;
    }
}

@media screen and (max-width: 360px) {
    header .open-aside {
        padding: 6px 10px;
        font-size: 20px;
    }

    header aside .fa-xmark {
        padding: 6px 10px
    }
}

/* ========= End of 1.1. header section ========= */
/* ========= 1.2. Hero section ========= */
@media screen and (max-width: 991px) {
    .Hero {
        padding: 50px 0px;
    }

    .Hero figure {
        width: 100%;
    }

    .Hero p {
        padding-right: 20px;
    }

    .Hero .BlurBG::before {
        top: 0%;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .Hero .row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .Hero .BlurBG::before {
        display: none;
    }

    .Hero figure {
        width: 80%;
    }

    .Hero .h-100 {
        align-items: center;
        text-align: center;
    }

    .Hero p {
        text-align: center;
        padding-right: 0px;
    }

    .Hero .w-100 a {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 360px) {

    .Hero figure {
        width: 100%;
    }

    .Hero {
        padding: 35px 0px;
    }

    .Hero .row {
        row-gap: 20px;
    }
}

/* ========= End of 1.2. Hero section ========= */
/* ========= 1.3. Hero section ========= */
@media screen and (max-width: 991px) {
    .Intro p {
        padding-right: 0px;

    }
}

@media screen and (max-width: 767px) {
    .Intro .row {
        row-gap: 30px;
    }

    .Intro p {
        text-align: center;
    }

    .Contact .BlurBG::before {
        width: 100%;
        left: 50%;
    }
}

/* ========= End of 1.3. Hero section ========= */
/* ========= 1.4. Skills section ========= */
@media screen and (max-width: 991px) {
    .Skills {
        padding-bottom: 70px;
    }

    .Skills .text-center {
        width: 80%;
        padding-bottom: 50px;
    }

    .Skills .BlurBG::before {
        width: 100%;
        height: 300px;
        left: 20%;
        filter: blur(140px);

    }

}

@media screen and (max-width: 767px) {
    .Skills {
        padding-bottom: 50px;
    }

    .Skills .row {
        row-gap: 25px;
    }

    .Skills .text-center {
        width: 100%;
    }

    .Skills .EmptyProgress {
        height: 10px;
    }

    .Skills .BlurBG::before {
        display: none;
    }

}

/* ========= End of 1.4. Skills section ========= */
/* ========= 1.5. Slider section ========= */
@media screen and (max-width: 991px) {
    .Slider .ImagesSlider img {
        width: 70px;
        height: 68px;
    }
}

@media screen and (max-width: 480px) {
    .Slider .ImagesSlider img {
        width: 50px;
        height: 48px;
    }
}

/* ========= End of 1.5. Slider section ========= */
/* ========= 1.6. Exp section ========= */
@media screen and (max-width: 991px) {
    .Exp {
        padding: 70px 0px;
    }
}

@media screen and (max-width: 767px) {
    .Exp {
        padding: 50px 0px;
    }

    .Exp .row {
        row-gap: 50px;
    }
}

/* ========= End of 1.6. Exp section ========= */
/* ========= 1.7. Projects section ========= */
@media screen and (max-width: 991px) {

    .Projects .text-center {
        width: 70%;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .Projects .row {
        row-gap: 30px;
    }

    .Projects .text-center {
        width: 100%;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 360px) {
    .Projects .proj {
        padding: 20px;
    }
}

/* ========= End of 1.7. Projects section ========= */
/* ========= 1.8. Education section ========= */
@media screen and (max-width: 991px) {
    .Education .text-center {
        width: 62%;
    }
}

@media screen and (max-width: 767px) {
    .Education .row {
        row-gap: 60px;
    }

    .Education .text-center {
        width: 100%;
    }

    .Education .BlurBG::before {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .Education .subjects .d-flex {
        width: 100%;
        gap: 20px !important;
        flex-direction: column !important;
    }

    .Education .subjects .sub {
        width: 100%;
    }
}

/* ========= End of 1.8. Education section ========= */
/* ========= 1.9. Contact section ========= */
@media screen and (max-width: 991px) {

    .Contact textarea,
    .Contact input {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .Contact .row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .Contact form button {
        width: 100%;
    }

    .Contact .form-label {
        font-size: 14px;
    }

    .Contact p {
        padding-right: 0px;
    }

    .Contact textarea,
    .Contact input {
        font-size: 12px;
        padding: 14px;
    }

    .Contact .BlurBG::before {
        width: 100%;
        left: 50%;
    }
}

/* ========= End of 1.9. Contact section ========= */
/* ========= 1.10. Footer section ========= */
@media screen and (max-width: 1399px) {
    footer .pt-0 p {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1199px) {
    footer .pt-0 p {
        padding-right: 0px;
    }
}

@media screen and (max-width: 991px) {
    footer {
        padding: 70px 0px 0px;
    }

    footer .text-center {
        padding: 70px 0px 30px;
    }

    footer .social a {
        font-size: 14px;
    }

    footer figure img {
        width: 150px;
    }
}

@media screen and (max-width: 767px) {
    footer .row {
        row-gap: 40px;
    }

    footer {
        padding: 50px 0px 0px;
    }

    footer .text-center {
        padding: 50px 0px 30px;
    }

    footer .gap-md-3 {
        gap: 12px;
    }
}

@media screen and (max-width: 480px) {
    footer .mt-md-3 a {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    footer .social a {
        font-size: 12px;
    }
}

/* ========= End of 1.10. Footer section ========= */